<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Course Outline</ion-title>
    </ion-navbar>
  </ion-header>
  
<ion-content class="gcontent">
    <h3 text-center *ngIf="selectedItem">
        {{selectedItem.title}}
    </h3>
    <ion-grid *ngFor="let item of selectedItem.info; let i = index" text-center>
        <ion-row>
            <ion-col >
                Week {{i + 1}}
            </ion-col>
            <ion-col>
                {{item}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
  